/* Variables */

:root {
/*  Text */
    --text: rgb(0, 0, 0);
    --text-bg: rgb(72, 80, 89);
/*  Light background */
    --bg-light: rgb(250, 251, 252);
/*  Complementary to Light background: lighter (up) */
    --bg-light-comp-up: rgb(254, 254, 255);
/*  Complementary to Light background: darker (down) */
    --bg-light-comp-down: rgb(247, 247, 248);
/*  Dark background */
    --bg-dark: rgb(11, 114, 161);
/*  Complementary to Dark background: Soft */
    --bg-dark-comp-soft: rgb(210, 213, 216);
/*  Complementary to Dark background: Medium */
    --bg-dark-comp-medium: rgb(227, 241, 245);
/*  Complementary to Dark background: Strong */
    --bg-dark-comp-strong: rgb(254, 254, 255);
/*  Highlight */
    --highlight-color: rgb(38, 162, 193);
/*  Highlight: hover (for links) */
    --highlight-color-hover: rgb(0, 175, 218);
/*  Alternative highlight */
    --highlight-color-alt: rgb(204, 74, 13);
}
