@charset "UTF-8";

/* Hey August

https://www.fontspace.com/hey-august-font-f39762

Freeware */

@font-face {
  font-family: 'Hey August';
  font-style: normal;
  font-weight: 400;
  src: local('Hey August'), local('Hey August'),
       url('../fonts/heyaugust/heyaugust.woff2') format('woff2');
}
