    <footer class="footer">
      <div class="left">
        <a href="{{"disclaimer" | relURL}}">Disclaimer</a>
      </div>
      <div class="right">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ "images/by-sa.svg" | relURL }}" /></a><br>
        © {{ now.Format "2006" }} Charles Vejnar
      </div>
    </footer>
