    <nav class="navbar">
      <div class="container">
        <div id="top-navbar-logo-toggler">
          <a class="navbar-logo" href="{{ .Site.BaseURL }}"><img src="{{ "images/logo_blue.svg" | relURL }}"></a>

          <button class="navbar-toggler" onclick="toggleByID('top-navbar-links');">
          <i class="fas fa-bars"></i>
          </button>
        </div>

        <ul id="top-navbar-links" class="navbar-links hidden">
          <li class="nav-item">
            <div class="search-ctrl">
              <input id="search-input" type="text" placeholder="Search doc" autocomplete="off">
              <ul id="search-results"></ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="{{ .Site.BaseURL }}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{{"about" | relURL}}" class="nav-link">About</a>
          </li>
          <li id="top-navbar-topics" class="nav-item">
            <ul class="topics">
            {{ $currentNode := . }}
            {{ if eq .Site.Params.OrderSectionsBy "title" }}
              {{ range where .Site.Home.Sections.ByTitle "Section" "doc" }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "level" 0 }}
              {{ end }}
            {{ else }}
              {{ range where .Site.Home.Sections.ByWeight "Section" "doc" }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "level" 0 }}
              {{ end }}
            {{ end }}
            </ul>
          </li>
        </ul>
      </div>
    </nav>
