    <nav class="navbar">
      <div class="container">
        <div id="top-navbar-logo-toggler">
          <a class="navbar-logo" href="{{ .Site.BaseURL }}"><img src="{{ "images/logo_gray.svg" | relURL }}"></a>

          <button class="navbar-toggler" onclick="toggleByID('top-navbar-links');">
          <i class="fas fa-bars"></i>
          </button>
        </div>

        <ul id="top-navbar-links" class="navbar-links hidden">
          <li class="nav-item">
            <a href="https://gitlab.com/vejnar/doc-website" class="nav-link">Source</a>
          </li>
          <li class="nav-item">
            <a href="{{"doc" | relURL}}" class="nav-link">Doc</a>
          </li>
          <li class="nav-item small-monitor">
            <a href="{{"about" | relURL}}" class="nav-link">About</a>
          </li>
        </ul>
      </div>
      <a href="{{"about" | relURL}}" class="nav-link navbar-toggler-inv">About</a>
    </nav>
